*.o
*.elf
*.map
*.d
*.bin
*.pem
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.X/.generated_files
**/*.IAR/Debug
**/*.IAR/settings
**/*.IAR/*.dep
**/*.IAR/*.custom_argvars
**/*.KEIL/Objects
**/*.KEIL/*.uvguix.*
Gemfile*
/WBZ45x_BLE_CAN_Sniffer/firmware/bleCan_Peripheral.X/build/
/WBZ45x_BLE_CAN_Snifferfirmware/bleCan_Peripheral.X/dist/
